.App {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  font-size: 20px;
}

.signup-form, .login-form {
  display: flex;
  flex-direction: column;
}

input,
.signup-button,
.login-button {
  margin: 5px 0px;
}

.signup-button,
.login-button {
  cursor: pointer;
}

.home-splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.home-splash-img {
  width: 40%;
  height: 40%;;
}

.home-select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.yourgames-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

form table {
  max-width: 100%;
}

form td:first-child {
  max-width: 200px;
}

form td:nth-child(2) {
  max-width: 600px;
}

.createNewGame-name, .createNewGame-description {
  width: 100%;
}

.select-room, .room-name, .room-text {
  width: 100%;
}